

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ADPs API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	 crossorigin="anonymous">
	<!-- 
  fancy box
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" /> -->



	<!-- jquery slim -->
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     -->
         <link rel="stylesheet" href="/public/style.css">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="https://dl.dropbox.com/s/ef6bd77m47iz2w6/mw100.png?dl=0" width="50px" />
       <h3 style="display:inline; padding-left:3%; " > Anonymous Discussion Platform API By Ahmad Ali </h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav">
           
             
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#userstories"> About
                <span class="sr-only">(current)</span>
              </a>
            </li> -->
        
        </ul>
         <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#about"> About
              <span class="sr-only">(current)</span>
            </a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="http://ahmad-ali.co.uk/" target="_blank" > My Portfolio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          </ul>

       
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
     

         <hr style='margin: 50px'>


  <!-- Page Content -->



      <div class="container">




    <header>
      <h1 id='boardTitle'></h1>
    </header>

         <hr style='margin: 50px'>

    <div id='submitNewThread'>
      <h3>Submit a new discussion:</h3>
      <form id="newThread" method="post" action="/api/">
        <textarea rows="8" cols="120" type='text' placeholder='discussion text...' name='text' required=''></textarea><br> <br />
        <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
<input class="btn btn-primary"  type="submit" value="Create a Discussion" style=" margin-top: 10px;" >
      </form>
    </div>
    
             <hr style='margin: 50px'>


    <div id='boardDisplay'></div>
    
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        var currentBoard = window.location.pathname.slice(3,-1);
        var url = "/api/threads/"+currentBoard;
        $('#boardTitle').text('Topic: '+window.location.pathname.slice(3,-1))
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            var boardThreads= [];
            //
            // THIS ARRAY SET UP IS FOR CODE READABILITIES AND TESTING!
            // THIS IS NOT WHAT IT WOULD LOOK LIKE TO GO LIVE
            //
            data.forEach(function(ele) {
              console.log(ele);//can I use typeScript please?!
              var thread = ['<div class="thread">'];
              thread.push('<div class="main">')
              thread.push('<p class="id">Discussion id: '+ele._id+' ('+ele.created_on+')</p>');
              thread.push('<form style="display:inline; margin:10px;" id="reportThread"><input type="hidden" name="report_id" value="'+ele._id+'"><input type="submit" value="Report Discussion"></form>');
              thread.push('<form style="display:inline"  id="deleteThread"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="text" placeholder="password" name="delete_password" required=""><input type="submit" value="Delete Discussion"></form>');
              thread.push('<div class="text">')
              thread.push('<p style="color:red" align="center" class="id"> Discussion text</p> ')
              thread.push('<h4 >'+ele.text+'</h4>');
              thread.push('</div>')
              thread.push('</div><div class="replies">');



              var hiddenCount = ele.replycount - 3;
              if (hiddenCount < 1) { hiddenCount = 0 };
              thread.push('<p>'+ele.replycount+' replies total ('+hiddenCount+' hidden)</p>');
              

              ele.replies.forEach(function(rep) {
                thread.push('<div class="reply">')
                thread.push('<p class="id">Reply id: '+rep._id+' ('+rep.created_on+')</p>');
                thread.push('<form style="display:inline; margin:10px;" id="reportReply"><input type="hidden" name="thread_id" value="'+ele._id+'"><input type="hidden" name="reply_id" value="'+rep._id+'"><input type="submit" value="Report Reply"></form>');
                thread.push('<form style="display:inline; margin:10px;" id="deleteReply"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="hidden" value="'+rep._id+'" name="reply_id" required=""><input type="text" placeholder="password" name="delete_password" required=""><input type="submit" value="Delete Reply"></form>');
                 thread.push('<div class="text_rep">')
              thread.push('<p style="color:red" align="center" class="id"> Reply text</p> ')
                thread.push('<h5>'+rep.text+'</h5>');
                thread.push('</div>')
                thread.push('</div>')
              });
              thread.push('<div class="newReply">')
              thread.push('<form action="/api/replies/'+currentBoard+'/" method="post" id="newReply">');
              thread.push('<input type="hidden" name="thread_id" value="'+ele._id+'">');
              thread.push('<textarea rows="5" cols="80" type="text" placeholder="Quick reply..." name="text" required=""></textarea><br>');
              thread.push('<input type="text" placeholder="password to delete" name="delete_password" required=""><input style="margin-left: 5px" type="submit" value="Submit">')
              thread.push('<h3 style="margin-top:10px;"> <a style="color:#FFFFFF;" href="'+window.location.pathname+ele._id+'"><button class="btn btn-primary">See the full thread here</a></button></h3>')
              thread.push('</form></div></div></div>')
               thread.push("<hr style='margin: 50px'>")


              boardThreads.push(thread.join(''));
            });
            $('#boardDisplay').html(boardThreads.join(''));
          }
        });
        
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + currentBoard);
        });
        
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+currentBoard;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+currentBoard;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+currentBoard;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+currentBoard;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  













   

<!-- footer  -->
<br /> <br /> <br />
<hr />
<p class="text-center"> &COPY; Ahmad Ali </p>

<!-- Bootstrap core JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- fancy box js -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>

</html>