* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px solid rgb(8, 202, 216);
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}

.text {
  margin: 10px;
  border: 1px solid red;
  padding: 20px;
}
.text_rep {
  margin: 10px;
  border: 1px solid green;
  padding: 20px;
}

